<h2>Admin Menu</h2>
<ul>
    <li><a href="/Admin/ListSellers">List Existing Sellers</a></li>
    <li><a href="/Admin/CreateSeller">Create New Seller</a></li>
    <li><a href="/Admin/CreateProgram">Create New Program</a></li>
    <li><a href="/Admin/ModifyProgram">Modify Program Details</a></li>
</ul>
