<h2>Seller Menu</h2>
<ul>
    <li><a href="/Seller/RegisterClient">Register New Client</a></li>
    <li><a href="/Seller/IssueBill">Issue Bill for Clients</a></li>
    <li><a href="/Seller/ChangeClientPlan">Change Client Program</a></li>
</ul>
